/* Place CSS styles here */

body {
    /* distribute font to entire site */
    font-family: 'Merriweather', serif;
}

h1 {
    font-family: 'Karla', sans-serif;
    font-weight: 700;
    text-align: center;

}

h2 {
    font-family: 'Karla', sans-serif;
    font-weight: 700;
    color: black;
    text-align: center;
}

h3 {
    font-family: 'Karla', sans-serif;
    font-weight: 500;
    color: white;
}

p {
    font-size: 20px;

}

h1 
h2,
h3,
h4,
h5,
h6 { 
    font-family: 'Karla', sans-serif;
    font-weight: 700; 
    text-transform: uppercase; 

}

a {
   text-decoration: none;
   color: red; 

}

img {
    display: block;
    margin: auto 0;

}

.cookie {
    text-align: left;
    border: 4px red;
    
}

.val-header {
    background-color: black;
}

.val-header nav {
    justify-content: center;
    display: flex;
    gap: 80px;
    padding: 30px;
    
    }

.val-header nav a {
    color: white;
    font-family: 'Karla', sans-serif;
    font-style: bold;
    font-weight: 700;
    background-color: black;
}

.val-header nav img {
    justify-content: center;
    width: 40px;
}


.val-intro {
    background-color: pink;
     display: flex;
    justify-content: center; 
    }

.val-smaller-image {
width: 70%
}

.val-row-3-tiles {
display: flex;
justify-content: center;
gap: 100px;
background-color: blue;

}

.val-row-3 {
    background-color: black;
    padding: 30px;

}

footer {
display: flex;
justify-content: flex-end;
}



.val-featured-image {
min-height: 300px;
height: 600px;
background: url(../img/Pookie\ Cat\ Cafe\ Main\ Image.jpeg);
background-repeat: no-repeat; 
background-size: cover;
background-position: center center; 
}

.FAQ-Main {
   background-color: black;
   padding: 10 px;
}

.FAQ-Tiles {
 background-color: black;   
 padding: 10 px 
}


.Menu-Tiles {
    display: flex;
    justify-content: center;
    gap: 100px;
    background-color: white;
 }

.Menu-Main {
    background-color: white;
    padding: 30 px;
 }
 