/* Place CSS styles here */

body {
    /* distribute font to entire site */
    font-family: 'Karla', sans-serif;
    font-weight: 500;

}

h1 {
    font-family: 'Karla', sans-serif;
    font-weight: 700;
    text-align: center;

}

h2 {
    font-family: 'Karla', sans-serif;
    font-weight: 500;
    color: black;
    text-align: center;
}

h3 {
    font-family: 'Karla', sans-serif;
    font-weight: 500;
    color: black;
    text-align: center;
}


span a {
    color: black;
    justify-content: center;
    text-align: center;
    font-family: 'Karla', sans-serif;
    font-weight: 500;
    font-size: 20px;
}


p {
    font-family: 'Karla', sans-serif;
    font-weight: 500;
    font-size: 20px;
    text-align: center;

}

h1 
h2,
h3,
h4,
h5,
h6 { 
    font-family: 'Karla', sans-serif;
    font-weight: 700; 
    text-transform: uppercase; 

}

a {
    text-align: center;
   text-decoration: none;
   color: black; 

}

img {
    display: block;
    margin: auto 0;

}

.cookie {
    text-align: left;
    border: 4px red;
    
}

.val-header {
    background-color: black;
}

.val-header nav {
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 80px;
    padding: 30px;
    
    }

.val-header nav a {
    color: white;
    align-items: center;
    font-family: 'Karla', sans-serif;
    font-style: bold;
    font-weight: 700;
    background-color: black;
}

.val-header nav a img {
   justify-content: top;
}

.val-header nav img {
    justify-content: center;
    width: 40px;
}


.val-intro {
    background-color: pink;
    display: flex;
    justify-content: center; 
    }

.val-smaller-image {
width: 70%
}

.val-row-3-tiles {
color: white;
display: flex;
justify-content: center;
gap: 100px;
background-color: black;

}

.val-row-3 {
    background-color: black;
    padding: 30px;

}


.val-featured-image {
min-height: 300px;
height: 700px;
background: url(../img/CatCollage_2.png);
background-repeat: no-repeat; 
background-size: cover;
background-position: center center; 
}


.Menu-Tiles {
    color: black;
    display: flex;
    justify-content: center;
    gap: 100px;
    background-color: white;
 }

 .Menu-Tiles img {
    justify-content: left;
 }

.Menu-Main {
    background-color: white;
    padding: 30 px;
 }


 .Footer-Poo-Main {
    color: gray;
    font-family: 'Karla', sans-serif;
    font-style: bold;
    display: flex;
    justify-content: flex-end
 }

 